DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/DATABASE"
NEXTAUTH_SECRET="update-me"
NEXTAUTH_URL="http://localhost:3000"
GOOGLE_CLIENT_ID="update-me"
GOOGLE_CLIENT_SECRET="update-me"
ADMIN_EMAILS="admin@example.com"

